/* unvisited link */
a:link {
  color: #46244C;
}

/* visited link */
a:visited {
  color: #46244C;
}

/* mouse over link */
a:hover {
  color: #46244C;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #46244C;
}

.card {
    margin: 10px;
    display: flex;
    flex-direction: row;
    background-color: #F3E9DD;
}

.cafe-details {
    display: flex;
    flex-wrap: wrap;
}

.cafe-details>* {
        font-size: 0.8rem;
        margin: 2px;
      }

.cafe-image {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

.cafe-image-bg {
    height: 400px;
    width: 100%;
    margin-right: 20px;
}

.h6 {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.h7{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.navbar-custom {
     background: #826F66;
     margin-bottom: 50px;
}
