{% include "header.html" %}


<div class="container">
      {% for cafe_row in all_cafes|batch(3, '&nbsp;') %}
        <div class="row">
            {% for cafe in cafe_row %}
                <div class="col-sm">
                    <a href={{cafe.map_url}} class="link-danger">
                    <div class="card">
                        <div class="card-image">
                            <img src={{cafe.img_url}} class="cafe-image" alt="">
                        </div>
                        <div class="cafe-content">
                            <h6 class="h6">{{cafe.name}}</h6>
                                <div class="cafe-details">
                                     <h7>📍 {{cafe.location}}</h7>
                                     <h7>🪑 {{cafe.seats}}</h7>
                                     <h7>📍 {{cafe.has_wifi}}</h7>
                                     <h7>📞 {{cafe.can_take_calls}}</h7>
                                </div>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
      {% endfor %}
</div>


{% include "footer.html" %}