{% import "bootstrap/wtf.html" as wtf %}


{% include "header.html" %}

  <!-- Page Header -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h6 class="h6">Register</h6>
            <span class="">Register here!</span>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>


{% include "footer.html" %}